.header {
  padding: 1rem;
  font-size: 3.2rem;
  text-align: center;
  color: #db9632;
}
h2,
h3 {
  color: #db9632;
}
.container-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: #24252a;
  margin-top: 5rem;
  padding: 3rem clamp(1rem, 5vw, 5rem);
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.9);
  width: clamp(30rem, 70vw, 70rem);
  border-radius: 1rem;
  background-image: url(../blog/blog1/);
  cursor: pointer;
}
.card p,
h2,
a {
  margin: 0rem 0rem 2rem 0rem;
}
.card p,
button {
  margin-left: 1rem;
}
.card h2 {
  font-size: 2.4rem;
}
.image {
  display: block;
  margin: 3rem auto;
  width: 65%;
}
.blog-button {
  padding: 0.7rem 1.5rem;
  background-color: #db9632;
  color: white;
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.blog-button:hover {
  transform: scale(1.1);
}
