.header {
  padding: 1rem;
  font-size: 3.2rem;
  text-align: center;
  color: #db9632;
}
h2,
h3 {
  color: #db9632;
}
.container-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog {
  background-color: #24252a;
  margin-top: 5rem;
  padding: 3rem clamp(1rem, 5vw, 5rem);
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.9);
  width: clamp(30rem, 70vw, 70rem);
  border-radius: 1rem;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.blog:hover {
  transform: scale(1.05);
}
.blog p,
.blog h2,
.blog a {
  margin: 0rem 0rem 2rem 0rem;
}
.blog h2 {
  font-size: 2.4rem;
}
.image {
  display: block;
  margin: 3rem auto;
  width: 65%;
}
.blog-button {
  padding: 0.7rem 1.5rem;
  background-color: #db9632;
  color: black;
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 2rem;
}
.blog-button:hover {
  transform: scale(1.1);
}
.overlay-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  left: 0;
  top: 0;
}
