.container {
  width: 40%;
  margin: 0 auto;
  padding: 4rem;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.9);
  background-color: #4c6f86;
  margin-top: 1rem;
  border-radius: 2rem;
}

h1 {
  text-align: center;
  font-style: italic;
}

label {
  display: block;
  margin-top: 2rem;
}
input[type="email"],
text {
  border-radius: 1rem;
  width: 100%;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #db9632;
  border-radius: 1rem;
}

.error {
  color: red;
}
form {
  margin: 0;
}
input[type="submit"] {
  background-color: #db9632;
  color: black;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

input[type="submit"]:hover {
  background-color: #db9632;
}
/* page */
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-coontact {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1280px;
}

/* form-fields */
/* zie demo bestanden bij de theorie voor meer CSS ;) */
input:not([type="submit"]),
textarea {
  display: block;
  width: 100%;
  max-width: 40rem;
  padding: 0.75em;
  border: 1px solid #666;
  border-radius: 0.3rem;
}

label,
input[type="submit"] {
  margin-top: 3rem;
}
input[type="submit"] {
  padding: 0.5em 2em;
}
label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.message {
  font-size: 1.4rem;
}
.message.error {
  color: #b90e0a;
}
body {
  font-family: Arial, sans-serif;
}

.container-contact {
  width: 40%;
  margin: 0 auto;
  padding: 4rem;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.9);
  background-color: #4c6f86;
  margin-top: 1rem;
  border-radius: 2rem;
}

h1 {
  text-align: center;
  font-style: italic;
}

label {
  display: block;
  margin-top: 2rem;
}
input[type="email"],
text {
  border-radius: 1rem;
  width: 100%;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #db9632;
  border-radius: 1rem;
}

.error {
  color: red;
}
form {
  margin: 0;
}
input[type="submit"] {
  background-color: #db9632;
  color: white;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

input[type="submit"]:hover {
  background-color: #db9632;
}
body {
  background-color: #051723;
}
.nameantwoord {
  display: flex;
  justify-content: center;
}

.messagepage {
  margin-left: auto;
  margin-top: 10rem;
  margin-right: auto;
  background-color: #4c6f86;
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
  width: 50%;
}

.messagepage ul {
  list-style: none;
  padding: 1rem;
}

.messagepage li {
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: white;
  color: black;
}
