/* page */
body {
  font-size: 1.6rem;
  margin: 0;
  background-color: #051723;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* form-fields */
/* zie demo bestanden bij de theorie voor meer CSS ;) */
.message.error {
  color: #b90e0a;
}
body {
  font-family: Arial, sans-serif;
}

.error {
  color: red;
}

.container-contact {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #4c6f86;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}

label {
  margin-bottom: 0.8rem;
  color: white;
  cursor: pointer;
  margin-top: 3rem;
}

.input-text,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.6remm;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
}

fieldset {
  margin-bottom: 1.6rem;
}

legend {
  font-weight: bold;
  color: white;
}
input {
  margin-bottom: 0.1rem;
}

input[type="checkbox"] {
  margin-right: 0.8rem;
}

.message {
  color: red;
}

#btnSubmit {
  background-color: #db9632;
  color: black;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

#btnSubmit:hover {
  background-color: #db9632;
}
.checkbox div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.checkbox div label {
  margin: auto 0;
}

.nameantwoord {
  display: flex;
  justify-content: center;
}

.messagepage {
  margin-left: auto;
  margin-top: 1rem;
  margin-right: auto;
  background-color: #4c6f86;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
  width: 50%;
}

.messagepage ul {
  list-style: none;
  padding: 1rem;
}

.messagepage li {
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: white;
  color: black;
}
.dankwoord h1 {
  color: white;
}
.dankwoord {
  text-align: center;
  margin-top: 7rem;
}
.envelope {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 20rem;
  margin: auto;
  height: 100vh;
}
p {
  padding: 1rem;
}
.gif img {
  margin: 7rem auto 6rem auto;
}
.gif {
  display: flex;
}
