Body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
  position: relative;
}
.article {
  height: 100vh;
}
.mijzelf {
  display: flex;
  padding-left: clamp(2rem, 27vw, 27rem);
  padding-top: clamp(2rem, 12vw, 12rem);
  margin-bottom: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.shadow-pop-br {
  animation: shadow-pop-br 1.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 0.063rem 0.063rem #3e3e3e, 0.125rem 0.125rem #3e3e3e,
      0.188rem 0.188rem #3e3e3e, 0.25rem 0.25rem #3e3e3e,
      0.313rem 0.313rem #3e3e3e, 0.375rem 0.375rem #3e3e3e,
      0.438rem 0.438rem #3e3e3e, 0.58rem 0.58rem #3e3e3e;
    transform: translateX(-0.5rem) translateY(-0.5rem);
  }
}

/* de animation is niet door mij */

.mijzelf img {
  height: 45vh;
  margin-left: clamp(2rem, 4vw, 4rem);
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.9);
}

.mijzelf h1,
h2 {
  font-size: 2.8rem;
}
#hide_hover {
  display: inline-block;
  max-width: 0%;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 1s ease-in-out;
}
p:hover #hide_hover {
  max-width: 100%;
}
.contianer-timeline {
  border-left: 0.188rem solid #db9632;
  height: calc(100% - 53rem);
  position: absolute;
  left: clamp(2rem, 21.2vw, 21.2rem);
  top: 14rem;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #db9632;
  border-color: #db9632;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: clamp(2rem, 20.5vw, 20.5rem);
  top: 14rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.cardalg {
  margin: 1rem 1rem;
  width: 40rem;
}
.cards img {
  max-width: 100%;
  object-fit: cover;
  height: 20rem;
  z-index: 4;
}
.content {
  padding: 1rem;
}
.overlay-link {
  display: inline-block;
  height: 100%;
  position: absolute;
  margin: auto;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.container-projects h2 {
  position: relative;
  left: clamp(10rem, 23vw, 23rem);
  top: 5rem;
  color: gray;
}
.dot2 {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #db9632;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: clamp(1rem, 20.5vw, 20.5rem);
  top: -0.6rem;
}

.card1 {
  margin-left: clamp(2rem, 27vw, 27rem);
  margin-top: clamp(0rem, 5vh, 5rem);
}
.card2 {
  margin-left: clamp(2rem, 13vw, 13rem);
  margin-top: clamp(0rem, 5vh, 5rem);
}
.card3 {
  margin-left: clamp(2rem, 27vw, 27rem);
  margin-top: clamp(2rem, 0vh, 0rem);
}
.card4 {
  margin-top: 2rem;
  margin-left: clamp(2rem, 13vw, 13rem);
}
.card5 {
  margin-left: clamp(2rem, 27vw, 27rem);
  margin-top: 5rem;
}
.card6 {
  margin-top: 5rem;
  margin-left: clamp(2rem, 13vw, 13rem);
}
.textimg {
  position: relative;
  top: 7rem;
  right: 15rem;
  left: -5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  z-index: 5;
  background-color: #4c6f86;
  border-radius: 0.7rem;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.9);
}
.shadow-pop:hover {
  animation: shadow-pop 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes shadow-pop {
  0% {
    box-shadow: 0 0 #c1c1c1, 0 0 #c1c1c1, 0 0 #c1c1c1, 0 0 #c1c1c1, 0 0 #c1c1c1,
      0 0 #c1c1c1, 0 0 #c1c1c1, 0 0 #c1c1c1;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 0.063rem 0.063rem #c1c1c1, 0.125rem 0.125rem #c1c1c1,
      0.188rem 0.188rem #c1c1c1, 0.25rem 0.25rem #c1c1c1,
      0.313rem 0.313rem #c1c1c1, 0.375rem 0.375rem #c1c1c1,
      0.438rem 0.438rem #c1c1c1, 0.58rem 0.58rem #c1c1c1;
    transform: translateX(-0.5rem) translateY(-0.5rem);
  }
}
.imgproject {
  z-index: 4;
}
.blog h2 {
  position: relative;
  left: clamp(10rem, 23vw, 23rem);
  top: 3.8rem;
  color: gray;
}
.blog1 {
  flex-wrap: wrap;
  display: flex;
  margin-left: clamp(2rem, 25vw, 25rem);
  margin-top: 6rem;
  border: 0.063rem black solid;
  margin-right: clamp(2rem, 30vw, 30rem);
  padding: 2rem;
  padding-top: 0rem;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.9);
  background-color: #24252a;
  border-radius: 1rem;
}
.blog1 p {
  display: flex;
}
.blog1 h3 {
  margin-bottom: 0rem;
  color: #db9632;
}
.dot3 {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #db9632;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: clamp(1rem, 20.5vw, 20.5rem);
  top: -2rem;
}
.container-contactmij h2 {
  position: relative;
  left: clamp(10rem, 23vw, 23rem);
  color: gray;
  margin-top: 7rem;
}
.dot4 {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #db9632;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: clamp(1rem, 20.5vw, 20.5rem);
  top: -5.7rem;
}
.contactmij-text {
  margin-left: clamp(2rem, 25vw, 25rem);
}
.contactmij-text p {
  color: white;
  font-size: 2rem;
}

.contactmij-text div {
  margin-left: 1rem;
  margin-bottom: 1.3rem;
}
.contactmij-text a {
  color: white;
  text-decoration: none;
}
.center {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.button-contact {
  padding: 1rem 2rem;
  background-color: #db9632;
  color: black;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.3s ease 0s;
}
.dot5 {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #db9632;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: clamp(1rem, 20.5vw, 20.5rem);
  top: 3rem;
}
.button-contact:hover {
  transform: scale(1.1);
}
.container-contactmij img:hover {
  transform: scale(1.2);
}
.blog-button {
  padding: 0.7rem 1.5rem;
  background-color: #db9632;
  color: black;
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.blog-button:hover {
  transform: scale(1.1);
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
}

#bottomImage {
  position: fixed;
  height: 0; /* initially hidden */
  transition: height 3s;
  position: absolute;
  bottom: 0;
  left: 10%;
  display: none; /* initially hidden */
}
#fallingObject {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: top 2s ease-out; /* Adjust the duration as needed */
  display: none; /* Hide the image initially */
}
